{% extends 'base.html' %}
{% load static %}

{% block title %} images {% endblock title %}
{% block imageurl %}
<link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock imageurl %}


{% block header %}
    <header class="header">
        <div class="header-container">
            <div class="header-text">
                <h1>all my image's</h1>
            </div>
        </div>
    </header>
    {% endblock header %}

    {% block content %}
    <section class="all-images">
        <div class="container">
            <div class="img-box">
                <img src="{% static 'img/image-1.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-2.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-3.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-4.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-5.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-6.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-7.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-8.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-9.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-10.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-11.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-12.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-14.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-15.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-16.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-17.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-18.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-19.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-20.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-21.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-22.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-23.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-24.jpg' %}" alt="image">
            </div>
            <div class="img-box">
                <img src="{% static 'img/image-25.jpg' %}" alt="image">
            </div>
        </div>
    </section>
    {% endblock content %}